Repository hmcts/ccd-case-print-service, pull requests merged in 2020-02, with the labels that each got.

#193 RDM-7619 Upgrade to Node 12
  .travis.yml
  Dockerfile
  Jenkinsfile_CNP
  README.md
  gulpfile.js
  infrastructure/main.tf
  package.json
  yarn.lock
Labels: ns:ccd, rel:ccd-case-print-service-pr-193

#192 RDM-7435 introduce befta
  Jenkinsfile_CNP
  README.md
  aat/.gitignore
  aat/build.gradle
  aat/gradle/wrapper/gradle-wrapper.jar
  aat/gradle/wrapper/gradle-wrapper.properties
  aat/gradlew
  aat/gradlew.bat
  aat/settings.gradle
  aat/src/aat/java/uk/gov/hmcts/ccd/printservice/befta/CasePrintServiceBeftaMain.java
  aat/src/aat/java/uk/gov/hmcts/ccd/printservice/befta/CasePrintServiceTestAutomationAdapter.java
  aat/src/aat/resources/features/F-000/F-000.feature
  aat/src/aat/resources/features/F-000/S-000.td.json
  package.json
Labels: ns:ccd, rel:ccd-case-print-service-pr-192

#196 tf changes
  infrastructure/main.tf
Labels: ns:ccd, rel:ccd-case-print-service-pr-196

#195 AKS Migration plan
  Dockerfile
  Jenkinsfile_CNP
  charts/ccd-case-print-service/Chart.yaml
  charts/ccd-case-print-service/values.aat.template.yaml
  charts/ccd-case-print-service/values.preview.template.yaml
  charts/ccd-case-print-service/values.yaml
  config/custom-environment-variables.yaml
  config/default.yaml
  package.json
  src/main/app-insights/app-insights.ts
  src/main/service/service-token-generator.ts
  yarn.lock
Labels: ns:ccd, rel:ccd-case-print-service-pr-195

#197 RDM-2508-Rm-nsp
  package.json
  yarn.lock
Labels: ns:ccd, rel:ccd-case-print-service-pr-197

#198 upgrade pacakges for vulnerabilities
  package.json
  yarn.lock
Labels: ns:ccd, rel:ccd-case-print-service-pr-198

#199 remove auth url
  charts/ccd-case-print-service/values.aat.template.yaml
Labels: ns:ccd, rel:ccd-case-print-service-pr-199

#202 upgrade befta fw version
  aat/build.gradle
  aat/src/aat/java/uk/gov/hmcts/ccd/printservice/befta/CasePrintServiceBeftaMain.java
Labels: ns:ccd, rel:ccd-case-print-service-pr-202

#203 cleanup here and reuse from fw
  aat/src/aat/java/uk/gov/hmcts/ccd/printservice/befta/CasePrintServiceTestAutomationAdapter.java
  aat/src/aat/resources/features/F-000/S-000.td.json
Labels: ns:ccd, rel:ccd-case-print-service-pr-203

#204 correct folder structure and cleanup imports
  .classpath
  .gitignore
  aat/build.gradle
  aat/src/java/uk/gov/hmcts/ccd/printservice/befta/CasePrintServiceBeftaMain.java
  aat/src/java/uk/gov/hmcts/ccd/printservice/befta/CasePrintServiceTestAutomationAdapter.java
  aat/src/resources/features/F-000/F-000.feature
  aat/src/resources/features/F-000/S-000.td.json
Labels: ns:ccd, rel:ccd-case-print-service-pr-204

#206 remove unused secrets
  Jenkinsfile_CNP
Labels: ns:ccd, rel:ccd-case-print-service-pr-206

#207 fix oom issue
  charts/ccd-case-print-service/Chart.yaml
  charts/ccd-case-print-service/values.yaml
Labels: ns:ccd, rel:ccd-case-print-service-pr-207

#208 change ingress as backend
  charts/ccd-case-print-service/Chart.yaml
  charts/ccd-case-print-service/values.yaml
Labels: ns:ccd, rel:ccd-case-print-service-pr-208

#209 update env vars
  charts/ccd-case-print-service/Chart.yaml
  charts/ccd-case-print-service/values.yaml
Labels: ns:ccd, rel:ccd-case-print-service-pr-209
