Repository hmcts/ccd-case-print-service, pull requests merged in 2020-08, with the labels that each got.

#232 Release cut 19.1
  Jenkinsfile_CNP
  README.md
  aat/build.gradle
  aat/src/resources/features/F-000/F-000.feature
  aat/src/resources/features/F-000/S-000.td.json
  bin/run-yarn-audit.sh
  ccd-yarn-audit-known-issues
  package.json
  yarn.lock
Labels: ns:ccd, prd:ccd, rel:ccd-case-print-service-pr-232

#227 Rdm 8784 helm renovate
  .github/renovate.json
  charts/ccd-case-print-service/Chart.yaml
  charts/ccd-case-print-service/requirements.yaml
Labels: ns:ccd, prd:ccd, rel:ccd-case-print-service-pr-227

#233 RDM-7436 initial changes
  Jenkinsfile_CNP
  aat/build.gradle
  aat/src/java/uk/gov/hmcts/ccd/printservice/befta/CasePrintServiceTestAutomationAdapter.java
  aat/src/resources/features/F-023/F-023.feature
  aat/src/resources/features/F-023/F-023_Case_Creation_Data_With_Document.td.json
  aat/src/resources/features/F-023/F-023_Test_Data_Base.td.json
  aat/src/resources/features/F-023/S-001.td.json
  aat/src/resources/features/F-023/S-002.td.json
  aat/src/resources/features/F-023/S-003.td.json
  aat/src/resources/features/F-023/S-004.td.json
  aat/src/resources/features/F-023/S-005.td.json
  aat/src/resources/features/F-023/S-006.td.json
  aat/src/resources/features/F-023/S-007.td.json
  aat/src/resources/features/F-023/S-008.td.json
  aat/src/resources/features/F-023/S-009.td.json
  aat/src/resources/features/common/Case_Creation_Data_Base.td.json
  aat/src/resources/features/common/Standard_Full_Case_Creation_Data.td.json
  aat/src/resources/features/common/Standard_Full_Case_Data.td.json
  aat/src/resources/features/common/Standard_Full_Case_Data_With_Document.td.json
  aat/src/resources/features/common/Standard_Token_Creation_Data_For_Case_Creation.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-print-service-pr-233

#235 enhance pipeline logic per build type
  Jenkinsfile_CNP
  aat/build.gradle
  aat/src/java/uk/gov/hmcts/ccd/printservice/befta/CasePrintServiceTestAutomationAdapter.java
Labels: ns:ccd, prd:ccd, rel:ccd-case-print-service-pr-235

#237 Added data-store and DM_Store base URL
  Jenkinsfile_CNP
Labels: ns:ccd, prd:ccd, rel:ccd-case-print-service-pr-237

#238 RDM-9283 changes
  aat/src/resources/features/F-000/F-000.feature
  aat/src/resources/features/F-000/S-000.td.json
  aat/src/resources/features/F-023/F-023.feature
  aat/src/resources/features/F-023/F-023_Case_Creation_Data_With_Document.td.json
  aat/src/resources/features/F-023/F-023_Test_Data_Base.td.json
  aat/src/resources/features/F-023/S-001.td.json
  aat/src/resources/features/F-023/S-002.td.json
  aat/src/resources/features/F-023/S-003.td.json
  aat/src/resources/features/F-023/S-004.td.json
  aat/src/resources/features/F-023/S-005.td.json
  aat/src/resources/features/F-023/S-006.td.json
  aat/src/resources/features/F-023/S-007.td.json
  aat/src/resources/features/F-023/S-008.td.json
  aat/src/resources/features/F-023/S-009.td.json
  aat/src/resources/features/common/Case_Creation_Data_Base.td.json
  aat/src/resources/features/common/Standard_Full_Case_Creation_Data.td.json
  aat/src/resources/features/common/Standard_Full_Case_Data.td.json
  aat/src/resources/features/common/Standard_Full_Case_Data_With_Document.td.json
  aat/src/resources/features/common/Standard_Token_Creation_Data_For_Case_Creation.td.json
Labels: ns:ccd, prd:ccd, rel:ccd-case-print-service-pr-238

#241 RDM 9342
  .gitignore
  Jenkinsfile_CNP
  aat/build.gradle
Labels: ns:ccd, prd:ccd, rel:ccd-case-print-service-pr-241
